*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    display: flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    background-image: url(imgs/bgi2.jpg);
}

label{
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 7px;
    margin-top: 10px;
    opacity: 0.4;
}

input[type="text"] {
    background-image: url(imgs/User.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-right: 30px;
    background-position: 97%;
    font-size: large;
}

input[type="password"] {
    background-image: url(imgs/Password.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-right: 30px;
    background-position: 97%;
    font-size: large;
}

.icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.btn {
    margin: 18px;
}

h1 {
    text-align: center;
}

button {
    text-decoration: none;
    font-size: 20px;
}

.input{
    margin-bottom: 10px;
}

.btn-one {
    background-color: #ff3645;
    color: #111;
    padding: 10px 20px;
    
}

.btn-two {
    background-color: bisque;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.5);
    color: #111;
    padding: 15px 27px;
}

a {
    text-decoration: none;
    font-weight: 500;
}